*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(45deg, #363636, black);
    height: 100vh;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
}
.main{
    display:flex;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    background-color: rgb(190, 190, 190);
    transform: translate(-50%,-50%);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#calc{
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
    font-size: 15px;
    margin-top: 7px;
   }

   
#calc:focus {
    outline-color: #e8e8e8;
    background: #686868;
    transition: 0.3s;
   }
.botoes {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em ;
    display: inline-block;
    border-radius: 2em;
    transition: all .2s;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
    background-color: rgb(255, 255, 255);
    margin: 3px;
   }
   
   .botoes:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .botoes:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
.botoes:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.botoes::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .botoes::after {
    background-color: #fff;
   }
   
   .botoes:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
#clear{
   width: 200px;
}
